{% extends '::base.html.twig' %}

{% block body -%}
    <h1> Condicion Pago</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('condicionpago') }}">
             Volver a Lista
        </a>
    </li>
</ul>
{% endblock %}
